.gallery__caption {
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 15px 31px 21px;
}